<section class="card">
  <div class="card-body">
    <h1>LO QUE SOMOS </h1>
    <p>
      Somos es una empresa de exhibición de cine en Colombia con sedes en todo el
      país, esta empresa se caracteriza por ofrecer sus servicios de forma gratuita brindando a los colombianos una
      forma diferente de poder mirar el cine, sobre todo aquellas personas que no cuentan
      con los recuerdos para poder acceder a una sala de cine tradicional.
    </p>

    <h2>PRINCIPIOS:</h2>



    <h5>HONESTIDAD</h5>
    Manejo cuidadoso de los recursos, insumos y materiales bajo nuestra responsabilidad. Rectitud en todas las actitudes
    y comportamientos frente a mi mismo y a los demás. Compromiso real y sincero de trabajo y efectividad.

    <h5>SERVICIO AL CLIENTE</h5>
    Debemos destacarnos por la amabilidad, agilidad, trato personalizado, información precisa, oportuna y veraz con
    nuestros clientes.

    <h5>RESPETO</h5>
    A sí mismo y hacia los demás respecto de las diferencias de concepto, forma de ser y pensar, buscando entendimiento,
    tolerancia y aceptación.


    
  </div>
</section>