<div class="jumbotron mt-4">

  <h1 class="display-4">Cinemas cinecuc</h1>
  <font face="univers" size="6" color="black"> 
        <center> Somos la empresa lider en cine libre para todos  </center>  
 </font>
</div>



  <hr class="my-4">
</div>
